:root {

    --color-fondo: #656A73;
    --color-blanco: #ffffff;
    --color-azul-claro: #ABE0E5;
    --color-negro: #656A73;
    --color-gris-oscuro: #CCCBCA;
    --color-gris-claro: #E6E5E5;

    --ancho-principal: 100%;    
    --alto-header-footer: 24vh;
    --padding-box: 20px;
    --gap-general: 10px;

    --fuente-principal: "Montserrat", sans-serif;
    --fuente-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-negro);
}

/* HEADER*/

.contenedor-principal {
    width: var(--ancho-principal);
    height: var(--alto-header-footer);
    background: var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
}

.contenedor-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-general);
    margin: 20px;

}

.subcontenedor {
    flex: 0 0 15%;  
    height: 100%;
  }

.item-cuadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.cuadrado {
    width: 4vh;
    height: 4vh;
    background-color: var(--color-azul-claro);
    margin: var(--gap-general);
    display: grid;
    place-items: center;
    font-size: var(--fuente-size);
}

.contenedor-cuadraditos {
    display: flex;
    flex-direction: row;
    gap: var(--gap-general);
    margin-left: 20px;
}

.info-cuadraditos {
    width: 30vh;
    height: 3px;
    background-color: var(--color-gris-oscuro);
    margin: var(--gap-general);
    display: grid;
    place-items: center;
    font-size: var(--fuente-size);
}

.texto-cuadrado {
    width: 10vh;
    height: 3px;
    background-color: var(--color-gris-oscuro);
}


.linea-sub {
    width: 10vh;
    height: 15px;
    background-color: var(--color-blanco);
}

.linea-sub-gris {
    width: 6vh;
    height: 15px;
    background-color: var(--color-negro);
}


/* HEADER--FLECHAS*/

.flecha-izquierda,
.flecha-derecha {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-gris-oscuro); 
  
}

/* BODY, BOXES RIGHT AND LEFT*/

.contenedor-boxes {
    display: flex;
    gap: var(--gap-general);
    width: 100%;
    padding: var(--padding-box);
  }

.box-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

  }

.caja-franja {
    width: 100%;
    height: 5vh;   
    background-color: var(--color-gris-oscuro);
  }

  .box-izquierda,
  .box-derecha {
    display: flex;
    flex-direction: column;
    gap: var(--gap-general);
    padding: var(--padding-box);
  }

  .box-izquierda {
    background-color: var(--color-gris-claro);
  }
  
  .box-derecha {
    background-color: var(--color-blanco);
  }
  


.subcontenedor-derecha {
    width: 20vh;
    height: 10vh;
    background-color: var(--color-azul-claro);

}

.franja-img {
    width: 40vh;
    height: 2vh;
    background-color: var(--color-fondo);
    align-items: center;
    margin-top: 250px;
}

.texto-img {
    width: calc(33.33% - 10px);
    height: 1vh;
    background-color: var(--color-gris-oscuro);
}

.texto-img-corto {
    width: 10vh;
    height: 1vh;
    background-color: var(--color-gris-oscuro);
}

.img {
    width: 10vh;
    height: 10vh;
}

/* TEXTOS*/


.texto-pequeño,
.texto-footer,
.titulo-cuadraditos {
    width: 30vh;
    height: 1vh;
    background-color: var(--color-negro);
}

.texto-pequeño:nth-child(3n-1) {
    margin-bottom: 20px;
}

/* FOOTER*/


.perfil-footer {
    width: 7vh;
    height: 7vh;
    background-color: var(--color-blanco);
}

.checkbox {
    width: 2vh;
    height: 16px;
    background-color: var(--color-negro);
}

.franja-footer {
    width: var(--ancho-principal);
    height: var(--alto-header-footer);
    background-color: var(--color-gris-claro);
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.subcontenedor,
.subcontenedor-footer {
    width: 21vh;
    height: var(--alto-header-footer);
    background-color: var(--color-azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-general);
}

.linea-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* FOOTER*/
.franja-footer {
    display: flex;
    align-items: center;
    padding: var(--padding-box);
    background-color: var(--color-gris-claro);
    width: 100%;
    gap: var(--gap-general);
  }
  
  .subcontenedor-footer {
    flex: 0 0 15%;  
  }
  
  .footer-cards {
    flex: 1;
    display: flex;
    justify-content: space-evenly; 
    gap: var(--gap-general);  
  }
  
  .footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .perfil-footer {
    width: 7vh;
    height: 7vh;
    background-color: var(--color-blanco);
  }

  .footer-title {
    width: 12vh;
    height: 1vh;
    background-color: var( --color-fondo);
  }
  
  .footer-line {
    width: 10vh;
    height: 3px;
    background-color: var(--color-gris-oscuro);
  }
  
  .footer-line-short {
    width: 8vh;
    height: 3px;
    background-color: var(--color-gris-oscuro);
  }
  

  /* BOX DERECHA */

.box-derecha {
    background: var(--color-blanco);
    display: flex;
    flex-direction: column;
    gap: var(--gap-general);
    padding: var(--padding-box);
  }
  
  .upper {
    display: flex;
    gap: var(--gap-general);
    align-items: flex-start;
  }
  
  .blue-block {
    flex: 0 0 30%;
    height: 12vh;
    background: var(--color-azul-claro);
  }
  
  .text-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .text-block .title {
    width: 60%;
    height: 1vh;
    background: var(--color-fondo);
  }
  
  .text-block .line {
    width: 70%;
    height: 3px;
    background: var(--color-gris-oscuro);
  }
  .text-block .line.short {
    width: 60%;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-general);
  }
  

  .item {
    display: flex;
    gap: var(--gap-general);
    align-items: flex-start;
  }
  

  .item .icon {
    flex: 0 0 5vh;
    height: 5vh;
    background: var(--color-fondo);
  }
  
  .item .desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item .desc .title {
    width: 70%;
    height: 1vh;
    background: var(--color-gris-oscuro);
  }
  
  .item .desc .line {
    width: 70%;
    height: 3px;
    background: var(--color-gris-oscuro);
  }
  .item .desc .line.short {
    width: 50%;
  }
  



  