:root {
    /* Colores */
    --color-fondo: #656A73;
    --color-blanco: #ffffff;
    --color-azul-claro: #ABE0E5;
    --color-negro: #656A73;
    --color-gris-oscuro: #CCCBCA;
    --color-gris-claro: #E6E5E5;

    /* Tamaños */
    --ancho-principal: 130vh;
    --alto-header-footer: 17vh;
    --padding-box: 20px;
    --gap-general: 10px;

    /* Tipografía */
    --fuente-principal: "Montserrat", sans-serif;
    --fuente-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-negro);
}

.contenedor-header {
    width: var(--ancho-principal);
    height: var(--alto-header-footer);
    background-color: var(--color-blanco);
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.franja-footer {
    width: var(--ancho-principal);
    height: var(--alto-header-footer);
    background-color: var(--color-gris-claro);
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.subcontenedor,
.subcontenedor-footer {
    width: 17vh;
    height: var(--alto-header-footer);
    background-color: var(--color-azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-general);
}

.cuadrado {
    width: 4vh;
    height: 4vh;
    background-color: var(--color-azul-claro);
    margin: var(--gap-general);
    display: grid;
    place-items: center;
    font-size: var(--fuente-size);
}

.contenedor {
    display: flex;
}

.contenedor-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: var(--padding-box);
}

.box-izquierda,
.box-derecha {
    width: 85vh;
    height: 50vh;
    padding: var(--padding-box);
    display: flex;
    flex-direction: column;
    gap: var(--gap-general);
}

.box-izquierda {
    background-color: var(--color-gris-claro);
}

.box-derecha {
    background-color: var(--color-blanco);
}

.franja-izq,
.franja-derecha {
    width: 60vh;
    height: 5vh;
    background-color: var(--color-gris-oscuro);
}

.subcontenedor-derecha {
    width: 37vh;
    height: var(--alto-header-footer);
    background-color: var(--color-azul-claro);
}

.cuadrado-pequeño {
    width: 7vh;
    height: 14vh;
    background-color: var(--color-negro);
}

.texto-pequeño,
.texto-footer,
.titulo-cuadraditos {
    width: 30vh;
    height: 1vh;
    background-color: var(--color-negro);
}

.texto-pequeño:nth-child(3n-1) {
    margin-bottom: 20px;
}

.franja-img {
    width: 40vh;
    height: 2vh;
    background-color: var(--color-fondo);
    align-items: center;
    margin-top: 250px;
}

.texto-img {
    width: calc(33.33% - 10px);
    height: 1vh;
    background-color: var(--color-gris-oscuro);
}

.texto-img-corto {
    width: 10vh;
    height: 1vh;
    background-color: var(--color-gris-oscuro);
}

.perfil-footer {
    width: 7vh;
    height: 7vh;
    background-color: var(--color-blanco);
}

.img {
    width: 10vh;
    height: 10vh;
}

.contenedor-cuadraditos {
    display: flex;
    flex-direction: row;
    gap: var(--gap-general);
    margin-left: 20px;
}

.info-cuadraditos {
    width: 30vh;
    height: 3px;
    background-color: var(--color-gris-oscuro);
    margin: var(--gap-general);
    display: grid;
    place-items: center;
    font-size: var(--fuente-size);
}

.linea-sub {
    width: 10vh;
    height: 15px;
    background-color: var(--color-blanco);
}

.linea-sub-gris {
    width: 6vh;
    height: 15px;
    background-color: var(--color-negro);
}

.checkbox {
    width: 2vh;
    height: 16px;
    background-color: var(--color-negro);
}

.linea-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}